/* Global Styles */

.row {
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Footer Styles */

footer p {
  font-size: 16px;
  margin-bottom: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -50px;
}

form {
  margin: 0 auto;
  padding: 42px 32px;
  max-width: 500px;
  background-color: #fff !important;
  border: 1px solid #ddd;
  border-radius: 10px;
}

form button {
  display: block !important;
  margin-inline: auto !important;
  background-color: var(--primary-color) !important;
}

.form-label {
  font-weight: bold;
}

.form-control {
  height: 40px;
  padding: 10px;
  font-size: 18px;
  width: 100%;
  border: 1px solid #ccc;
}

#sign {
  text-align: center;
  display: block;
  color: #337ab7;
}

.form-text {
  font-size: 11px;
  color: #666;
}
